
.register-container {
    background-color: black;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: -1;
    top:0;
    left:0;
    display: flex;
    align-items: center;
}

.register {
    border: 0px solid black;
    box-shadow: 1px 0px 5px silver;
    height: 250px;
    width: 250px;
    background-color: white;
    margin: 0 auto;
}

.register div {
    display: flex;
    justify-content: center;
    margin: 10px;
}


.register img {
    width: 25px;
    height: 25px;
    /* margin-bottom: 10px; */
}

.or {
    font-size: 10px;
}

.link-button {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: white;
    text-align: center;
    width: 100px;
    background-color: #252525;
    border: none;
    color: white;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 15px;
}

.account-create-button {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: white;
    text-align: center;
    width: 50%;
    background-color: #252525;
    border: none;
    color: white;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 15px;
}

.link-button-forum {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: white;
    text-align: center;
    width: 100px;
    background-color: #252525;
    border: none;
    color: white;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 15px;
    margin-left: 75px;
}