.setting {
    background-color: black;
    border: 2px solid blue;
    /* border: 2px solid transparent; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.setting-top {
    height: 200px;
    width: 90%;
    border: 1px solid green;
    background-color: purple;
    margin-top: 100px;
}

.setting-bottom {
    height: 400px;
    width: 90%;
    border: 1px solid green;
    background-color: purple;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.setting-bottom-left {
    width: 49%;
    height: 100%;
    background-color: brown;
    display: flex;
    flex-direction: column;
    border: 2px solid blue
}

.setting-bottom-right {
    width: 49%;
    height: 100%;
    background-color: brown;
    display: flex;
    flex-direction: column;
    border: 2px solid blue
}

