.setting {
    background-color: black;
    border: 2px solid blue;
    /* border: 2px solid transparent; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.setting-top {
    height: 200px;
    width: 95%;
    border: 1px solid green;
    background-color: purple;
    margin-top: 100px;
    display: flex;
    flex-direction: column-reverse;
}

.display-settings {
    font-size: 35px;
    font-weight: 500;
    color: white;
}

.display-id {
    font-size: 60px;
    font-weight: 550;
    color: white;
}

.setting-bottom {
    height: 700px;
    width: 95%;
    border: 1px solid green;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    margin-bottom: 300px;
}

.setting-bottom-left {
    width: 49%;
    height: 400px;
    /* height: 60%; */
    background-color: #181d25;
    border: 2px solid burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setting-bottom-left div {
    border: 1px solid blue;
    width: 90%;
    margin-top: 20px;
    font-size: 1.25em;
    color: white;
    font-weight: 700;
    /* margin: 10px; */
}

.setting-bottom-left input {
    width: 90%;
    margin-top: 5px;
    background-color: #232936;
    border: 1px solid black;
    color: white;
}

.setting-bottom-left button {
    width: 10%;
    height: 10%;
    margin-top: 25px;
    background-color: #232936;
    border: 1px solid black;
    color: white;
}

.setting-bottom-right {
    width: 49%;
    height: 85%;
    height: 90%;
    background-color: brown;
    display: flex;
    flex-direction: column;
    border: 2px solid blue
}


