.createReply {
    background-color: purple;
    /* border: 1px solid blue; */
    background-color: #181c25;
    background-color: #181c25;
    background-color: #181c25;
    background-color: purple;
    background-color: #181c25;
    width: 100%;
}

.createReply input {
    width: 75%;
    border: none;
    margin: 5px 20px;
}

.createReply-body-text-container {
    /* margin-top: 10px; */
    height: 250px;
    padding-top: 20px;
}

.createReply-body-text-quill {
    width: 75%;
    border: none;
    margin: 0px 20px;
    /* margin-top: 15px; */
    color: white;   
    height: 200px;
}

.createReply-body-text {
    text-align: justify;
    height: 50px;
}

.createReply-button {
    border: none;
    margin-left: 10px;
}

.createReply-button button {
    margin: 10px;
    margin-bottom: 20px;
}

.createReply-category {
    margin: 5px 20px;
}

.createReply-button-post {
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    background-color: rgba(255,206,31,0.8);    
}

.createReply-button-cancel {
    border: none;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #232936;;
    color: grey;
}
