.createReply {
    background-color: purple;
    background-color: #232936;
    border: 1px solid blue;
    width: 100%;
}

.createReply input {
    width: 75%;
    border: none;
    margin: 5px 20px;
}

.createReply-body-text-container {
    /* margin-top: 100px; */
}

.createReply-body-text {
    text-align: justify;
    height: 50px;
}

.createReply-button {
    border: none;
    margin-left: 10px;
}

.createReply-button button {
    margin: 10px;
}

.createReply-category {
    margin: 5px 20px;
}

