.post-thread {
    background-color: #232936;
    background-color: #181c25;
    background-color: purple;
    background-color: #232936;
    /* background-color: #181c25; */
    /* border: 1px solid purple; */
}

.post-thread-top {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid darkblue; */
}

.post-id {
    /* border: 1px solid orange; */
    color: white;
    padding: .5em 1em;
    font-size: .75em;
}

.post-created {
    /* border: 1px solid blue; */
    color: white;
    font-size: 1em;
    margin: .5em 1em;
    font-size: .75em;
    text-align: right;
}

.post-online-id {
    /* border: 1px solid purple; */
    color: white;
    font-size: 1.5em;
    margin: 0px 30px 15px 30px;
}

.post-subject {
    /* border: 1px solid red; */
    /* border-bottom: 2px solid black; */
    color: white;
    margin: 0px 100px 15px 30px;
    font-size: 2em;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
}

.post-content {
    color: white;
    /* border: 1px solid orange; */
    /* border-bottom: 1px solid orange; */
    margin: 0px 100px 15px 30px;
    font-size: 15px;
    padding-bottom: 15px;
    word-wrap: break-word;
}

.post-thread-button-reply {
    margin: 10px 35px;
    margin-right: 0px;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    background-color: rgba(255,206,31,0.8);    
}

.post-thread-button-edit {
    background-color: #232936;;
    color: grey;
    margin: 10px 0px;
    margin-right: 0px;
    margin-left: 10px;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    background-color: rgba(255,206,31,0.8);   
    background-color: #232936;
    background-color: #181c25;
    color: grey;
    color: rgba(255,206,31,0.8);
}

.post-container {
    margin: 0 10px;
    margin-top: 10px;
    width: 73%;
    margin-bottom: 50px;
    /* border: 1px solid orange; */
}