.post-thread {
    background-color: #232936;
    border: 1px solid purple;
}

.post-thread-top {
    display: flex;
    justify-content: space-between;
}

.post-id {
    color: white;
    padding: 5px 35px;
    font-size: .75em;
}

.post-created {
    color: white;
    font-size: 1em;
    margin: 0px 20px;
}

.post-online-id {
    color: white;
    padding: 0px 35px;
    font-size: 1em;
}

.post-subject {
    color: white;
    margin: 0px 35px;
    font-size: 2em;
}

.post-content {
    color: white;
    margin: 10px 35px;
}

.post-thread button {
    margin: 10px 35px;
}

.post-container {
    margin: 0 10px;
    margin-top: 10px;
    width: 65%;
    margin-bottom: 50px;
    border: 1px solid orange;
}