.thread-list {
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    background-color: #181c25;
    background-color: #232936;
    margin: 5px;
    text-decoration: none;   
}

.thread-list-subject {
    color: white;
    font-size: 1.25em;
}

.thread-list-id {
    color: white;
}

.thread-list-threadID {
    color: white;
    font-size: .5em;
}

.thread-list-created {
    color: white;
    font-size: .5em;
}

.thread-list-leftID {
    margin: 10px;
}

.thread-list-left {
    margin: 10px;
}
.thread-list-right {
    margin: 10px;
    text-align: right;
    flex: 1
}
.thread-list-category {
    color: white;
    font-size: .5em;
}

.thread-pagination {
    background-color: purple;
    margin: 5px;
    display: flex;
    justify-content: center;
}

.thread-pagination button {
    margin: 5px;
}
