.forum-top img {
    position: relative;
    width: 100%;
    height: 200px;
    z-index: -1;
    display: block;
}

.forum-top div {
    position: absolute;
    top: 80px;
    margin: 0px 60px;
    z-index: 1;
    font-size: 30px;
    color: white;
    font-weight: 600;
}

.forum-main {
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

.forum-category {
    margin: 0 10px;
    margin-top: 10px;
    width: 20%;
    height: 250px;
    border: 1px solid purple;
}

.forum-category div {
    border: 1px solid yellow;
}

.forum-post {
    margin: 0 10px;
    margin-top: 10px;
    width: 65%;
    /* height: 1000px; */
    min-height: 1200px;
    border: 1px solid orange;
}

.forum-post-top {
    display: flex;
    justify-content: space-between;
    padding: 5px 35px;
    background-color: orange;
}

.react-paginate-parent {
    background-color: purple;
}

