@import url('https://fonts.googleapis.com/css?family=Muli');

.home-main-photo {
    width: 100vw;
    height: 70vh;
    background: url("https://res.cloudinary.com/jinpark1/image/upload/v1530649439/projectForum/thumb-1920-810997.jpg");
    background-size: cover;
    justify-content: center;
    color: white;
    font-size: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    font-family: 'Muli', sans-serif;
}

.home-description-centered {
    position: absolute;
    top: 50%;
    /* left: 50px; */
    padding-left: 100px;
    /* transform: translate(-15%, -115%); */
    font-family: 'Muli', sans-serif;
    /* color: blue; */
    font-weight: 700;
    font-size: 8rem;
    /* mix-blend-mode: screen; */
    background-color: blue;
    background-color: rgba(30, 31, 31, 0.671);
    width: 100vw;
}