@import url('https://fonts.googleapis.com/css?family=Muli');



.home-main-photo {
    width: 100vw;
    height: 70vh;
    background: url("https://res.cloudinary.com/jinpark1/image/upload/v1530649439/projectForum/thumb-1920-810997.jpg");
    background-size: cover;
    justify-content: center;
    color: white;
    font-family: 'Muli', sans-serif;
    max-width:100%;
}

.home-description {
    position: absolute;
    top: 50%;
    text-indent: 100px;
    letter-spacing: 5px;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 8rem;
    background-color: rgba(30, 31, 31, 0.671);
    width: 100vw;
}

.home-communities {
    background-color: #14191e;
}

.home-communities-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #14191e;
    max-width:100%
}

.home-communities-top {
    display: flex;
    width: 90vw;
    background-color: yellow;
    justify-content: space-between;

}

.home-communities-top img {
    width: 42vw;
    height: 42vh;
}