.contact{
    background-color: #14191e;
    background-image: url("https://res.cloudinary.com/jinpark1/image/upload/v1530772036/projectForum/1-wtc-america-architecture-374710.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: auto;
    image-rendering: crisp-edges;
    /* image-rendering: pixelated; */
  /* background-attachment:fixed - image doesn't move when additional stuff is rendered on screen */
    background-attachment: fixed;
}

.contact {
    background-color: black;
    /* border: 2px solid blue; */
    /* border: 2px solid transparent; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-top {
    height: 200px;
    width: 95%;
    /* border: 1px solid green; */
    /* background-color: purple; */
    margin-top: 150px;
    display: flex;
    flex-direction: column-reverse;
}

.display-contacts {
    font-size: 35px;
    font-weight: 500;
    color: white;
}

.display-id {
    font-size: 60px;
    font-weight: 550;
    color: white;
}

.display-profile-img {
    background-color: transparent;
    width: 100px;
    height: 100px
}

.contact-bottom {
    /* height: 700px; */
    width: 95%;
    /* border: 1px solid green;
    background-color: orange; */
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 300px; */
}

.contact-bottom-left {
    width: 49%;
    height: 450px;
    /* height: 600px; */
    /* height: 60%; */
    background-color: #181d25;
    /* border: 2px solid burlywood; */
    /* box-shadow: 1px 1px #181d25; */
    box-shadow: 0px 2px 10px 0px #777;
    /* box-shadow: 0px 5px 0px 5px #181d25; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-bottom-left div {
    /* border: 1px solid blue; */
    width: 90%;
    margin-top: 30px;
    font-size: 1.25em;
    color: white;
    font-weight: 700;
    /* margin: 10px; */
}

.contact-bottom-left input {
    width: 90%;
    margin-top: 5px;
    background-color: #232936;
    border: 1px solid black;
    color: white;
    font-size: 20px;
}

.contact-bottom-left button {
    min-width: 10%;
    height: 10%;
    margin-top: 25px;
    background-color: #232936;
    border: 1px solid black;
    color: white;
}

.contact-bottom-right {
    width: 49%;
    /* height: 85%;
    height: 90%;
    height: 70%; */
    /* height: 100%; */
    /* height: 1000px; */
    background-color: brown;
    background-color: #181d25;
    box-shadow: 0px 2px 10px 0px #777;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.contact-body-quill-container {
    border: 1px solid blue;
}

.contact-body-quill {
    /* width: 75%; */
    border: none;
    /* margin: 5px 20px; */
    /* margin-top: 15px; */
    color: white;   
    /* height: 300px; */
    border: 1px solid purple; 
}

.contact-bottom-right-display {
    background-color: purple;
    background-color: #181d25;
    width: 90%;
    /* width: 100%; */
    height: 100%;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    margin: 0 auto;
    grid-gap: 1px;
}

.contact-bottom-right-display img {
    /* height: 20%; */
    /* border: 1px solid orange; */
    /* border: 1px solid black; */
    width: 100%;
    background-color: black;
    background-color: #232936;
}

.contact-bottom-right-title {
    margin: 0 auto;
    /* border: 1px solid blue; */
    width: 90%;
    margin-top: 30px;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    /* background-color: black; */
    margin-bottom: 30px;
}

.contact-bottom-right-save {
    display: grid;
    grid-template-columns: 40% 20%;
    /* flex-direction: row; */
    width: 90%;
    /* justify-content: center; */
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    /* border: 1px solid purple; */
}

.contact-bottom-right-left {
    display: flex;
    flex-direction: column;
    /* border: 1px solid darkgoldenrod; */

}

.contact-bottom-right-right {
    /* border: 1px solid brown; */
    display: flex;
    justify-content: center;
}

.contact-bottom-right-upload {
    /* background-color: #232936; */
    /* border: 1px solid blue; */
    color: white;
}

.contact-bottom-right-upload-img {
    border: border 1px solid #232936;
    /* background-color: yellow; */
}

.contact-bottom-right button {
    min-width: 65%;
    min-width: 80px;
    min-height: 50px;
    /* margin-top: 25px; */
    background-color: #181d25;
    /* box-shadow: 0px 2px 10px 0px #777; */
    border: 1px solid black;
    color: white;
    /* margin-bottom: 20px; */
    background-color: #232936;
}


.contact-bottom-delete-container {
    margin-top: 250px;
    /* background-color: blue; */
    margin-bottom: 100px;
    width: 95%;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-bottom-delete {
    background-color: #181d25;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px 0px #777;
}

.contact-bottom-delete div {
    margin: 0 auto;
    /* border: 1px solid blue; */
    width: 90%;
    margin-top: 30px;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    /* background-color: black; */
    margin-bottom: 30px;
    
}

.contact-bottom-delete button {
    background-color: #181d25;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 65%;
    min-width: 80px;
    min-height: 50px;
    /* margin-top: 25px; */
    background-color: #181d25;
    /* box-shadow: 0px 2px 10px 0px #777; */
    border: 1px solid black;
    color: white;
    /* margin-bottom: 20px; */
    background-color: #232936;
}


