.contact{
    background-color: #14191e;
    background-image: url("https://res.cloudinary.com/jinpark1/image/upload/v1530772036/projectForum/1-wtc-america-architecture-374710.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: auto;
    image-rendering: crisp-edges;
    background-attachment: fixed;
}

.contact {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-top {
    height: 200px;
    width: 95%;
    margin-top: 150px;
    display: flex;
    flex-direction: column-reverse;
}

.display-contacts {
    font-size: 35px;
    font-weight: 500;
    color: white;
}

.display-id {
    font-size: 60px;
    font-weight: 550;
    color: white;
}

.display-profile-img {
    background-color: transparent;
    width: 100px;
    height: 100px
}

.contact-bottom {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.contact-bottom-left {
    width: 49%;
    height: 450px;
    background-color: #181d25;
    box-shadow: 0px 2px 10px 0px #777;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-bottom-left div {
    width: 90%;
    margin-top: 30px;
    font-size: 1.25em;
    color: white;
    font-weight: 700;
}

.contact-bottom-left input {
    width: 90%;
    margin-top: 5px;
    background-color: #232936;
    border: 1px solid black;
    color: white;
    font-size: 20px;
}

.contact-bottom-left button {
    min-width: 10%;
    height: 10%;
    margin-top: 25px;
    background-color: #232936;
    border: 1px solid black;
    color: white;
}

.contact-bottom-right {
    width: 49%;
    background-color: brown;
    background-color: #181d25;
    box-shadow: 0px 2px 10px 0px #777;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-body-quill {
    border: none;
    color: white;   
    height: 30vh;
    width: 40vw;
    margin-top: 25px;
}

.contact-bottom-right-left {
    display: flex;
    flex-direction: column;
}

.contact-bottom-right-right {
    display: flex;
    justify-content: center;
}

.contact-bottom-right-upload {
    color: white;
}

.contact-bottom-right-upload-img {
    border: border 1px solid #232936;
}

.contact-bottom-delete-container {
    margin-top: 250px;
    margin-bottom: 100px;
    width: 95%;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-bottom-delete {
    background-color: #181d25;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px 0px #777;
}

.contact-button-send {
    margin-top: 100px;
    min-width: 65%;
    min-width: 80px;
    min-height: 50px;
    background-color: #181d25;
    border: 1px solid black;
    color: white;
    background-color: #232936;
}

