 .trollbox{
     background-color: #14191e;
     background-image: url("https://res.cloudinary.com/jinpark1/image/upload/v1530649505/projectForum/4k-wallpaper-background-beautiful-853199.jpg");
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     image-rendering: auto;
     image-rendering: crisp-edges;
     image-rendering: pixelated;
     height: 100vh;
 }

 .trollbox-container-flex {
     display: flex;
     flex-direction: column;
     background-color: transparent;
     /* justify-content: center; */
     align-items: center;
 }

 .trollbox-top-container {
    height: 20vh;
    display: flex;
    justify-content: center;
    /* border: 1px solid orange;    */
}

.trollbox-chat-container {
    /* display: flex; */
    /* justify-content: center; */
    /* align-content: center; */
    /* background-color: yellow; */
    /* border: 1px solid black; */
    background-color: blue;;
    width: 50%;
    height: 50vh;
}
