 .trollbox{
     background-color: #14191e;
     /* background-image: url("../../images/4kwall.jpg"); */
     background-image: url("https://res.cloudinary.com/jinpark1/image/upload/v1530649505/projectForum/4k-wallpaper-background-beautiful-853199.jpg");
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     image-rendering: auto;
     image-rendering: crisp-edges;
     image-rendering: pixelated;
     height: 100vh;
 }

 .trollbox-container-flex {
     background-color: red;
     border: 1px solid orange;
     display: flex;
     flex-direction: column;
     background-color: transparent;
 }

 .trollbox-top-container {
    border: 1px solid red;
    height: 200px;
    display: flex;
    justify-content: center;
}

.trollbox-top-child {
    border: 1px solid red;
    height: 300px;
    background-color: transparent;
    width: 90%;
}

.trollbox-one-container {
    border: 1px solid red;
    min-height: 600px;
    display: flex;
    justify-content: center;
}

.trollbox-one-child {
    border: 1px solid red;
    min-height: 200px;
    /* background-color: blue; */
    width: 90%;
    display: flex;
    justify-content: center;
}

.trollbox-chat-container {
    border: 1px solid black;
    background-color: blue;;
    width: 50%;
}

.trollbox-two-container {
    height: 200px;
    background-color: darkblue;
    display: flex;
    justify-content: center;
}

.trollbox-two-child {
    border: 1px solid red;
    height: 200px;
    background-color: blue;
    width: 90%;
}

.trollbox-three-container {
    height: 200px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
}

.trollbox-three-child {
    border: 1px solid red;
    height: 200px;
    background-color: blue;
    width: 90%;
}

.trollbox-four-container {
    height: 200px;
    background-color: darkgoldenrod;
    display: flex;
    justify-content: center;
}

.trollbox-four-child {
    border: 1px solid red;
    height: 200px;
    background-color: blue;
    width: 90%;
}

.trollbox-five-container {
    height: 200px;
    background-color: darkgoldenrod;
    display: flex;
    justify-content: center;
}

.trollbox-five-child {
    border: 1px solid red;
    height: 200px;
    background-color: blue;
    width: 90%;
}

.trollbox-six-container {
    height: 200px;
    background-color: darkgoldenrod;
    display: flex;
    justify-content: center;
}

.trollbox-six-child {
    border: 1px solid red;
    height: 200px;
    background-color: blue;
    width: 90%;
}

.trollbox-bottom-container {
    height: 300px;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.trollbox-bottom-child {
    border: 1px solid red;
    height: 300px;
    background-color: transparent;
    width: 90%;
}
