@import url('https://fonts.googleapis.com/css?family=Roboto:700');

  nav {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    height: 3em;
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
    padding: 12px 18px;
    box-shadow: 0px 4px 7px #777;
    transition: background-color 0.5s ease-out;
  }

  nav img {
      width: 25px;
      height: 25px;
      margin: -3px;
  }
  
  nav button {
    position: absolute;
    top: 0;
    transform: translateY(50%);
    right: 0;
    min-height: 1.5em;
    min-width: 80px;
    background-color: white;
    border: 0px;
    border-radius: 2px;
    margin-right: 20px;
    text-transform: uppercase;
  }
  
  nav.scroll {
    background-color: #252525;
  }

nav ul {
    margin: 0 auto;
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 0px 20px;
}

#nava {
    color: white;
    list-style: 80px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    font-family: 'Roboto', sans-serif;
}

nav ul li a:hover {
    text-shadow: 5px 5px 10px black;
}

a.scroll {
    color: white;
}

#nava.scrollfont {
    color: white;
}