@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css?family=Muli');

nav {
    z-index: 3;
    position: sticky;
    top: 0;
    position: fixed;
    left: 0;
    height: 3em;
    width: 100%;
    background-color: transparent;
    padding: 12px 18px;
    box-shadow: 0px 4px 7px #777;
    transition: background-color 0.5s ease-out;
}

nav img {
      width: 2.5em;
      height: 2.5em;
      margin: -2px;
}
  
nav button {
    position: absolute;
    top: 0;
    transform: translateY(50%);
    right: 0;
    min-height: 2.5em;
    min-width: 80px;
    background-color: white;
    border: 0px;
    border-radius: 2px;
    margin-right: 100px;
    font-family: 'Muli', sans-serif;
}

nav div {
    position: absolute;
    top: 0;
    transform: translateY(50%);
    right: 0;
    min-height: 1.5em;
    min-width: 80px;
    background-color: white;
    border: 0px;
    border-radius: 2px;
    margin-right: 20px;
    text-transform: uppercase;
}
  
nav.scroll {
    background-color: #252525;
}

nav ul {
    margin: 0 auto;
    display: flex;
}

nav ul li {
    list-style: none;
    font-size: 1.5em;
    margin: 0px 30px;
    margin-top: 5px;
}

#nava {
    color: white;
    list-style: 80px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    font-family: 'Roboto', sans-serif;
}

nav ul li a:hover {
    text-shadow: 5px 5px 10px black;
}

#nava.scrollfont {
    color: white;
}

.nav-menu {
    border: 2px solid transparent;
    height: 25px;
    width: 100px;
    margin: 0px;
    padding: 0px;
    margin-right: 100px;
    background-color: transparent;
    z-index: -5;
}

.nav-menu-button1 {
    margin: -20px 0px;
    font-size: 1em;
    width: 100px;
}

.nav-menu-button1:hover {
    background-color: skyblue;
    transition: 2s
}

.nav-menu-button2 {
    margin: 15px 0px;
    font-size: 1em;
    width: 100px;
    border: 1px solid skyblue;
}

.nav-menu-button2:hover {
    background-color: skyblue;
    transition: 2s
}

.nav-menu-button3 {
    margin: 50px 0px;
    font-size: 1em;
    width: 100px;
    border: 1px solid skyblue;
}

.nav-menu-button3:hover {
    background-color: skyblue;
    transition: 2s
}

.nav-menu-button4 {
    margin: 90px 0px;
    font-size: 1em;
    width: 100px;
    border-left: 1px solid skyblue;
    border-right: 1px solid skyblue;
    border-bottom: 1px solid skyblue
}

.nav-menu-button4:hover {
    background-color: skyblue;
    transition: 2s
}