.reply-container {
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: #232936;
    background-color: #181c25;
}

.reply-container-left {
    margin: 0px 100px 15px 30px;
}

.reply-container-right {
    font-size: 1.5em;
    margin: 10px;
    text-align: right;
}

.reply-onlineID {
    color: white;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.reply-created {
    color: white;
    font-size: .5em;
}

.reply-content {
    color: white;
    font-size: 15px;
    word-wrap: break-word;
}


