.reply-container {
    /* border: 1px solid black; */
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: #232936;
    background-color: #181c25;
    /* background-color: #181c25; */
    /* margin: 10px; */
}

.reply-container-left {
    /* border: 2px solid orange; */
    margin: 0px 100px 15px 30px;
    /* margin: 1em; */
    /* width: 70%; */
}

.reply-container-right {
    /* border: 1px solid red; */
    font-size: 1.5em;
    /* margin: 1em; */
    margin: 10px;
    /* width: 15%; */
    text-align: right;
}

.reply-onlineID {
    /* border: 1px solid orangered; */
    color: white;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.reply-created {
    /* border: 1px solid orange; */
    color: white;
    font-size: .5em;
}

.reply-content {
    /* border: 2px solid purple; */
    color: white;
    font-size: 15px;
}


